body {
  font-family: Roboto, sans-serif;
  color: #212121;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

.section {
  padding: 60px 0;
}

.section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section__title--visually-hidden,
.label__checkbox--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  color: #ffffff;
  background: #2196f3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__links:hover, .social__links:focus {
  background-color: #2196f3;
}

.social__links:hover .social__icon, .social__links:focus .social__icon {
  fill: #FFFFFF;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 44px;
  background: #FFFFFF;
  height: 44px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  position: absolute;
  left: 15px;
  top: 16px;
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
}

.logo__studio {
  display: inline-block;
  color: #212121;
}

.navigation {
  margin-bottom: 301px;
}

.navigation__link:hover, .navigation__link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
  margin-bottom: 32px;
}

.navigation__link {
  display: block;
  color: #212121;
  text-decoration: none;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  color: #2196f3;
  position: relative;
}

.contacts {
  margin-bottom: 64px;
}

.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: #2196f3;
  color: #2196f3;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts:not(:last-child) {
  margin-right: 50px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  display: none;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link--mobile {
  color: #2196f3;
  font-size: 34px;
  margin-bottom: 33px;
}

.hero {
  background: #2f303a;
  padding: 118px 60px;
  text-align: center;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.css/Header-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.css/Header-480.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.css/Header-960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.css/Header-960.jpg);
  }
}

.hero__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.features__item {
  text-align: center;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-radius: 4px;
}

.features__title {
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  margin-bottom: 10px;
}

.features__text {
  color: #757575;
  line-height: 1.71;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .images {
    display: none;
  }
}

@media screen and (max-width: 1169px) {
  .section--mobile, .section__title--images {
    display: none;
  }
}

.images__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images__title {
  display: block;
  bottom: 0;
  padding: 27px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.images__thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.section--background {
  background: #f5f4fa;
}

.section__title--mobile {
  margin-bottom: 30px;
}

.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__stand {
  padding: 30px 0;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
}

.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196f3;
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon:hover, .clients__icon:focus {
  fill: #2196f3;
}

.clients__item:not(:last-child) {
  margin-bottom: 30px;
}

.clients__link {
  display: block;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 16px 51px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background: #FFFFFF;
}

.modal__btn-close:hover .modal__btn-icon, .modal__btn-close:hover .modal__btn-icon {
  fill: #2196f3;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1170px) {
  .modal {
    width: 528px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 50%;
}

.modal__btn-icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 93px 15px 94px 15px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form :nth-child(5) {
  margin-bottom: 20px;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input:focus, .form__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.form__title {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 0px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea__textarea::-webkit-input-placeholder, .form__textarea__input::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea__textarea:-ms-input-placeholder, .form__textarea__input:-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea__textarea::-ms-input-placeholder, .form__textarea__input::-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea__textarea::placeholder, .form__textarea__input::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
  line-height: 1.7;
  font-size: 12px;
  margin-bottom: 30px;
  text-align: left;
}

.label__link {
  color: #2196f3;
  margin-left: 0.2em;
}

.label__icon-check {
  display: inline-block;
  height: 15px;
  width: 16px;
  border-radius: 4px;
  margin-right: 8px;
  border: 2px solid #212121;
  background-color: #FFFFFF;
}

.label__checkbox:checked + .label__icon-check {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/icon check (1) (1).svg");
  background-size: contain;
  background-origin: border-box;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
}

.footer {
  position: relative;
  background: #2f303a;
  padding: 60px 0;
  text-align: center;
}

.logo-footer {
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.logo__studio--footer {
  color: #ffffff;
}

.address-footer {
  color: #ffffff;
  line-height: 1.71;
  padding-right: 1em;
  font-style: normal;
  margin-bottom: 60px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.social-box {
  margin: 0 auto;
  width: 206px;
  text-align: center;
  margin-bottom: 60px;
}

.social-box__title, .subscribe-box__title {
  display: inline-block;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-footer {
  width: 450px;
}

.form-footer__input {
  margin-bottom: 20px;
  padding: 15px 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  min-width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  -webkit-transition: -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input:hover, .form-footer__input:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.btn--footer {
  display: block;
  margin: 0 auto;
  padding: 10px 28px 10px 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__icon {
  fill: #FFFFFF;
}

.social__links--footer {
  background: #43444D;
}

.links__icon--footer {
  fill: #FFFFFF;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

.menu-button:focus .menu-button__icon, .menu-button:hover .menu-button__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-box__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding: 0 10px;
}

.social-box__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.social-box__item:first-child {
  padding-left: 0;
}

.social-box__item:last-child {
  padding-right: 0;
}

.social-box__border {
  display: inline-block;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */