.footer {
  background: $background-color;
  padding: 60px 0;  
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.logo--footer {
  margin-bottom: 20px;
  margin-right: 0;
}
.logo__studio--footer {
  color: $primary-white-color;
}
.address-footer {
  color: $primary-white-color;
  line-height: 1.71;
  padding-right: 1em;
  font-style: normal;
}
.address{
  &__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
}
  &__item:not(:last-child) {
  margin-bottom: 9px;
}
}

.social-box{
  margin-left: 70px;
}
.subscribe-box{
  margin-left: 93px;
}
.social-box__title,.subscribe-box__title{
  display: inline-block;
  font-weight: 700;
  line-height: 1.14;
  color:#ffffff;
  margin-bottom: 20px;
  }
  
.form-footer{
  display: flex;

  &__input{
  margin-right: 12px;
  padding: 15px 15px 16px ;
  background-color: $background-color ;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  transition: filter 250ms $timing-function
}
  &__input::placeholder{
  color: rgba(255, 255, 255, 0.6);
}
  &__input:hover,&__input:focus{
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));}
}

.btn--footer{
  padding: 10px 28px 10px 29px;
  align-items: center;
}
.btn__icon{
  fill: #FFFFFF;
  margin-left: 10px;
}

.social__links--footer{
  background: #43444D;
}

.links__icon--footer{
  fill: #FFFFFF;
}