.hero {
  background: $background-color;
  padding: 118px 60px;
  text-align: center;
  height:400px;
  // min-width: 480px;
  background-repeat: no-repeat;
  background-size:cover;
  background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.css/Header-480.jpg);
}
  @media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero{
      background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.css/Header-960.jpg);
    }
  }


.hero{
   @media screen and (min-width: 768px){
     background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.css/Header-768.jpg);
   }}
   @media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero{
      background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.css/Header-1536.jpg);
}
}

.hero{
   @media screen and (min-width: 1200px){
     height: 600px;
     max-width: 1600px;
     background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.css/Header-1600.jpg);
   }}
   @media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero{
      background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.css/Header-3200.jpg);
}
}


  .hero__title {
  color: $primary-white-color;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  }

@media screen and (max-width: 1199px){
.features__item{
// text-align: center;
&:not(:last-child){
  margin-bottom: 30px;}
}}
@media screen and (max-width: 768px){
.features__item{
text-align: center;}}

@media screen and (min-width: 768px) and (max-width: 1199px){
.features {
 display: flex;
  flex-wrap: wrap;
   margin-left: calc(-1 * 30px);
}
.features__item{
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
   flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  }}

.features__box{
  display: flex;
  justify-content: center;
  margin-bottom:$card-interval;
  background: $grey-color;
  align-items: center;
  padding: 25px 0;
  border-radius: 4px;
  // text-align: left;
}


.features__icon{
   
}
.features__title {
  color:$primary-text-color;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  margin-bottom: 10px; 
}
.features__text {
  color: $text-color;
  line-height: 1.71;
  text-align: left;
}
.images {

  @media screen and (max-width: 1200px) {
   display: none;
  }
}
.section--mobile,.section__title--images{
   @media screen and (max-width: 1199px) {
   display: none;
  }
}
.section--mobile{
  padding: 0;
}
.images__item{
  position: relative;
  display: flex;
  justify-content: center;
}
.images__title{
  display: block;
  bottom: 0;
  padding: 27px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}
.images__thumb{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.section--background {
  background: $grey-color;
}


  @media screen and (min-width: 768px) and (max-width: 1199px){
  .team {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  }
  
  .team__item{
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  }
}

//  @media screen and (min-width: 1200px){
//    .team {
//   display: flex;
//   justify-content: space-between;
// }

 

.section__title--mobile{
  margin-bottom: 30px;
}
.team__item {
  background: $primary-white-color;
  box-shadow: $card-shadow;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  @media screen and (max-width: 767px){
  &:not(:last-child){
  margin-bottom: $card-interval;}
}
}

.team__stand {
  padding: 30px 0;
}
.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team__position {
  color: $text-color;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

@media screen and (max-width: 479px){
.clients{
  display: block;}

  .clients__item{
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px){
  .clients{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);}
 
 .clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
   flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  }}


@media screen and (min-width: 768px) and (max-width:1199px){
.clients{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);}
 
 .clients__item {
  // flex-basis: calc(100% / 2 - 30px);
  // margin-left: 30px;
   flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  }}




.clients{
  &__link:hover &__icon, &__link:focus &__icon{
  fill: $accent-color;
}
   &__link:hover, &__link:focus{
  border-color: $accent-color;  
}
  &__icon:hover, &__icon:focus{
  fill: $accent-color;
}
}
.clients__item:not(:last-child){
  margin-bottom: $card-interval;
}

.clients__link{
  display: block;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 16px 51px;
  transition: border-color 250ms $timing-function;
}
.clients__icon{
  fill: #AFB1B8;
  transition: fill 250ms $timing-function;
}




