$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-color: #000000;
$grey-color: #f5f4fa;
$background-color: #2f303a;
$card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$card-interval: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1)