.menu-button {
  display: inline-flex;
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  &:focus &__icon, &:hover &__icon{
   fill:$accent-color
  }
   @media screen and (min-width: 768px) {
   display: none;
  }
}
.menu-button__icon{
  transition: fill 250ms $timing-function
}


  
  
